<h1>Products#index</h1>
<% @products.each do |p| %>

  <div class="eachProduct">
    <p><%= p.name %></p>
    <p><%= p.price_in_cents %></p>
    <p><%= p.description %></p>
    <p><%= p.upc %></p>
  </div>

<% end %>
